@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root[data-theme=dark], :root[data-theme=light] {
  --text-color: #141213;
  --text-color-secondary: #E2E9F0;
  --bg-color: #E2E9F0;
  --bg-color-secondary: #061237;
  --bg-btn: #1C2F66;
  --bg-btn-secondary: #5169BA;
  --bg-navbar: #4E6096;
  --border-logo-color: #1C2F66;
  --accordion-bg-header: #5169BA;
  --accordion-bg-body: #95B5F2;
}

:root[data-theme=dark] {
  --text-color: #E2E9F0;
  --text-color-secondary: #141213;
  --bg-color: #061237;
  --bg-color-secondary: #1C2F66;
  --bg-btn: #141213;
  --bg-btn-secondary: #5169BA;
  --bg-navbar: #141213;
  --border-logo-color: #E2E9F0;
  --accordion-bg-header: #2C406B;
  --accordion-bg-body: #4E6096;
}

.animation-sun {
  transform: rotate(180deg);
}

.animation-moon {
  transform: rotateY(180deg);
}

/*teste*/
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

html {
  background-color: var(--bg-color);
  color: var(--text-color);
  max-height: 100vh;
  max-width: 100vw;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  max-height: 100vh;
  max-width: 100vw;
}

main {
  scroll-margin-top: 6rem;
}

a {
  text-decoration: none;
}
a :visited {
  opacity: 0.7;
}

::-webkit-scrollbar {
  width: 0.6rem;
}

::-webkit-scrollbar-thumb {
  background: var(--bg-color);
  border: 1px solid var(--text-color);
  border-radius: 0.4rem;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.404);
}

::-webkit-scrollbar-track {
  background-color: var(--bg-color-secondary);
}

html {
  font-family: Inter, Arial, Helvetica, sans-serif;
}

.achivo {
  font-family: Archivo;
}

.poppins {
  font-family: Poppins;
}

.title1 {
  font-family: Archivo;
  font-weight: 300;
  color: var(--text-color);
}

.title2 {
  font-family: Archivo;
  font-weight: 500;
  font-size: 1.8rem;
  color: var(--text-color);
}

.subtitle {
  font-family: Poppins;
}

.accordion__header {
  color: #E2E9F0;
}
.accordion__header p {
  font-size: 1.4rem;
}
.accordion__header span {
  font-size: 1.8rem;
}

@media screen and (min-width: 0px) {
  .header-container .theme-button {
    font-size: 1.3rem;
  }
  .first__title {
    font-size: 2.5rem;
  }
  .btn__project div {
    font-size: 0.9rem;
  }
}
@media screen and (min-width: 350px) {
  .btn__project .btn__icon {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 576px) {
  .first__title {
    font-size: 3.5rem;
  }
  .btn__project div {
    font-size: 1.4rem;
  }
  .header-container .theme-button {
    font-size: 2.2rem;
  }
}
.btn {
  cursor: pointer;
  color: white;
  text-align: center;
}
.btn:hover {
  opacity: 0.9;
}
.btn:active {
  filter: brightness(1.2);
}

.btn__project {
  padding: 0.7rem;
  border-radius: 2rem;
  border: 2px solid var(--text-color);
  background-color: var(--bg-btn);
}
.btn__project div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.btn__project.big {
  width: 70vw;
  min-width: 85%;
  max-width: 100%;
  align-self: center;
}
.btn__project.small {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 60vw;
  min-width: 45%;
  max-width: 60%;
}

.btn__github {
  padding: 0.9rem 1.5rem;
  border-radius: 0.3rem;
  background-color: var(--bg-btn-secondary);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 30vw;
  min-width: 35%;
  max-width: 40%;
}

.btn-carousel {
  position: absolute;
  border: none;
  opacity: 0.8;
  background: transparent;
  color: #95B5F2;
  font-size: 2.8rem;
  transition: 0.25s ease-in-out;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.btn-carousel:hover {
  cursor: pointer;
  transform: scale(1.3);
}
.btn-carousel:focus {
  filter: brightness(1.2);
}

.actions__container {
  width: 100%;
  max-width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 380px) {
  .bi-arrow-up-right {
    display: none !important;
  }
}
@media screen and (min-width: 576px) {
  .actions__container {
    max-width: 36.25rem;
    align-self: center;
  }
  .actions__container .btn__project.small {
    max-width: 20rem;
  }
  .actions__container .btn__github {
    max-width: 13.75rem;
  }
}
.carousel__container {
  position: relative;
  aspect-ratio: 16/9;
  place-self: center;
  width: 90vw;
  min-width: 90vw;
  max-width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.carousel__body {
  position: relative;
  aspect-ratio: 16/9;
  width: 100vw;
  min-width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.carousel__item {
  position: relative;
  aspect-ratio: 16/9;
  width: 100vw;
  min-width: 100%;
  max-width: 100%;
}
.carousel__img {
  aspect-ratio: 16/9;
  background-color: rgba(0, 102, 255, 0.445);
  width: 100vw;
  min-width: 100%;
  max-width: 100%;
}

.carousel__control-prev {
  left: 0;
}

.carousel__control-next {
  right: 0;
}

.carousel__item {
  opacity: 0;
  transform: translateX(100%);
  transition: all 0.5s ease;
  position: absolute; /* garante sobreposição */
}

.carousel__item.active {
  opacity: 1;
  transform: translateX(0);
}

.slide-in-right {
  transform: translateX(0);
  animation: slideRight 0.5s forwards;
}

.slide-in-left {
  transform: translateX(0);
  animation: slideLeft 0.5s forwards;
}

@keyframes slideRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
/*teste*/
.header-container {
  padding: 1rem 1rem 0;
  width: 100vw;
  max-width: 100%;
  height: 6rem;
  max-height: 18vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header-container .logo-container, .header-container .theme-button {
  padding: 0.1rem;
  aspect-ratio: 1/1;
  max-width: 13%;
  max-height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.header-container .logo-container img, .header-container .theme-button img {
  border: 2px solid var(--border-logo-color);
  border-radius: 0.2rem;
  transition: 0.2s ease-in-out;
  aspect-ratio: 1/1;
  max-width: 100%;
}
.header-container .theme-button {
  transition: 0.4s linear;
}
.header-container .theme-button:hover {
  cursor: pointer;
}

.menu__mobile {
  position: fixed;
  bottom: 0;
  z-index: 10;
}
.menu__mobile .menu--container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-width: 90%;
  max-width: 100%;
  height: 4rem;
  min-height: 10vh;
}

.menu__item {
  width: 100vw;
  min-width: 25%;
  max-width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-navbar);
  height: 100%;
  transition: 1s ease-in-out;
}
.menu__item .menu__link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
  gap: 0.3rem;
  opacity: 0.65;
}
.menu__item .menu__icon {
  font-size: 1.7rem;
}
.menu__item .menu__text {
  font-size: 0.8rem;
}
.menu__item.menu-active:has(.menu__link) .menu__link {
  opacity: 1;
}

.flex-container {
  display: flex;
  gap: 0.4rem;
}

.hidden {
  display: none;
}

.menu-active {
  border-bottom: 2px solid var(--text-color);
}

.content--container {
  padding: 1rem 1.5rem 0.5rem;
  width: 100%;
  max-width: 100vw;
}

.first__links-container {
  width: 100%;
  padding: 0 0 1rem 0.3rem;
}
.first__links-container .first__link {
  font-size: 2rem;
  padding-right: 1rem;
  color: var(--text-color);
}

.third__content {
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
}

.photo__container {
  display: grid;
  grid-template-columns: 40% 60%;
  gap: 1rem;
}
.photo__container .about__photo {
  max-width: 50vw;
  aspect-ratio: 1/1;
}
.photo__container .about__photo img {
  width: 100%;
}

.about__text {
  align-self: flex-end;
}
.about__text.text1 {
  word-spacing: 0.8rem;
  line-height: 1.4rem;
}
.about__text.text2 {
  word-spacing: 0.6rem;
}

.accordion {
  width: 90%;
  min-width: 90vw;
  max-width: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  place-self: center;
}
.accordion h3 {
  padding-bottom: 1rem;
}
.accordion__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  overflow: hidden;
}
.accordion__header {
  border: top 2px solid var(--accordion-bg-body) right 2px solid red bottom 2px solid red left 2px solid red;
  padding: 0.8rem 1.1rem 0.8rem;
  position: relative;
  background-color: var(--accordion-bg-header);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
}
.accordion__header:hover {
  cursor: pointer;
  background: linear-gradient(180deg, rgb(188, 209, 255) 55%, rgb(0, 60, 255) 65%, rgba(217, 255, 0, 0.7) 100%);
}
.accordion__header .accordion__title {
  transition: 0.7s ease-in-out;
}
.accordion__header .icon {
  transition: 0.2s linear;
}
.accordion__body {
  background-color: var(--accordion-bg-body);
  display: none;
  gap: 1rem;
  padding: 0.8rem;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  animation: spawn-top 0.25s ease 1 forwards;
}
.accordion__paragraph {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  animation: spawn-right 1.5s ease-in-out 1 forwards;
}

.skills__list {
  padding-left: 2rem;
  animation: spawn-right 1.5s ease-in-out 1 forwards;
}
.skills__item {
  padding-bottom: 0.5rem;
}
.skills__item::marker {
  content: "•  ";
  animation: spawn-right 1.5s ease-in-out 1 forwards;
}

.active .accordion__header {
  padding: 1.4rem 1.1rem;
  justify-content: center;
  background: linear-gradient(180deg, rgb(44, 64, 107) 65%, rgb(61, 77, 128) 85%, rgba(78, 96, 150, 0.7) 100%);
}
.active:has(.accordion__body) .accordion__body {
  display: flex;
  background: linear-gradient(180deg, rgba(78, 96, 150, 0.7) 90%, rgba(61, 77, 128, 0.7) 95%, rgba(44, 64, 107, 0.7) 100%);
}
.active:has(.icon) .icon {
  transform: rotate(-180deg);
  position: absolute;
  right: 3%;
}
.active:has(.icon) .accordion__title {
  transform: translateX(-10%);
}

@keyframes spawn-top {
  to {
    transform: translateY(0%);
    opacity: 1;
  }
  from {
    transform: translateY(-20%);
    opacity: 0.1;
  }
}
@keyframes spawn-right {
  0% {
    transform: translateX(20%);
    opacity: 0;
  }
  50% {
    transform: translateX(5%);
    opacity: 0.4;
  }
  50% {
    transform: translateX(0%);
    opacity: 1;
  }
}
.fourth__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.contact__header {
  text-align: center;
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70vw;
  min-width: 70vw;
  max-width: 70vw;
}
.contact__main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

footer {
  padding: 3rem 2rem 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer .terms {
  text-align: center;
}

.first__content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.first__header {
  transition: 0.2s ease-in-out;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.first__header .first__title {
  width: 100%;
  text-align: left;
  padding-bottom: 2rem;
}
.first__header .first__paragraph {
  width: 100%;
  text-align: left;
  padding-bottom: 1rem;
}

.first__body {
  width: 100%;
  max-width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.first__body .first__video {
  width: 100%;
  max-width: 90vw;
}

.second__content {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.project__container {
  width: 100%;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}
.project__container .project__video {
  align-self: center;
  width: 100vw;
  max-width: 100%;
}
.project__container .project__text-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.project__container .project__text-container .project__list {
  padding-left: 2.2rem;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}
.project__container .project__text-container .project__list ::marker {
  content: "▶   ";
  color: #5169BA;
}

.project__technologies {
  padding: 1rem 0 1rem 1rem;
  width: 100%;
  max-width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.project__technologies .project__img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-right: 0.5rem;
  max-width: 100vw;
}
.project__technologies .project__img img {
  background-color: #95B5F2;
  border-radius: 0.4rem;
  width: 3rem;
}

.technologies__container {
  max-height: 60vh;
  padding: 2rem 0;
  background-color: var(--bg-color-secondary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  overflow: hidden;
}
.technologies__container .technologies__title {
  padding: 0 1.5rem;
  color: #E2E9F0;
}

.technologies__carousel {
  width: 100%;
  gap: 4.2rem;
  max-width: 100vw;
  max-height: 20vh;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.technologies__carousel:hover .technologies__item,
.technologies__carousel .technologies__item:focus {
  animation-play-state: paused;
}
.technologies__carousel:hover .technologies__item img:hover,
.technologies__carousel .technologies__item:focus img:hover {
  transform: scale(1.1);
  transition: 0.2s ease-in-out;
}

.technologies__item {
  max-width: 15%;
  position: relative;
  animation: scroll 25s linear alternate infinite;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.technologies__item img {
  max-width: 100%;
  width: 5rem;
  flex-shrink: 0;
  background-color: #95B5F2;
  border-radius: 0.4rem;
}
.technologies__item :hover {
  cursor: pointer;
}
.technologies__item .modal {
  position: absolute;
  max-height: 20vh;
  max-width: 20vw;
  aspect-ratio: 2/2;
  top: -120%;
  left: 140%;
  transform: translateX(-50%);
  background: #95B5F2;
  color: #000;
  padding: 1rem;
  border-radius: 6px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  display: none;
  overflow: hidden;
  z-index: 10;
}

@keyframes scroll {
  0% {
    transform: translateX(90%);
  }
  100% {
    transform: translateX(-1900%);
  }
}/*# sourceMappingURL=main.css.map */