$text-color: #141213;
$text-color-secondary: #E2E9F0;
$bg-color: #E2E9F0;
$bg-color-secondary: #061237;
$bg-btn: #1C2F66;
$bg-btn-secondary: #5169BA;
$bg-navbar: #4E6096;
$border-logo-color: #1C2F66;
$accordion-bg-header: #5169BA;
$accordion-bg-body: #95B5F2;

$gradient-header: linear-gradient(180deg, #5169BA 60%, #5169bad0 80%, #4b62abd4 100%);
$gradient-header-hover: linear-gradient(180deg, #5169BA 65%, #5169BA 75%, #435797 100%);
$gradient-body: linear-gradient(180deg, #4b62abd4 30%, #81a0d9 95%, #5169BA 100%);
$gradient-body-hover: linear-gradient(180deg, #435797 10%, #81a0d9 35%, #5169BA 99%);

$btn-hover-gradient: linear-gradient(90deg, #0a1948 0%, #041547 40%, #000000 60%);
$btn-secondary-hover-gradient: linear-gradient(90deg, #04164b 0%, #041547 40%, #5169BA 60%);

%variables-theme {
    --text-color: #{$text-color};
    --text-color-secondary: #{$text-color-secondary};
    --bg-color: #{$bg-color};
    --bg-color-secondary: #{$bg-color-secondary};
    --bg-btn: #{$bg-btn};
    --bg-btn-secondary: #{$bg-btn-secondary};
    --bg-navbar: #{$bg-navbar};
    --border-logo-color: #{$border-logo-color};
    --accordion-bg-header: #{$accordion-bg-header};
    --accordion-bg-body: #{$accordion-bg-body};

    --gradient-header: #{$gradient-header};
    --gradient-header-hover: #{$gradient-header-hover};
    --gradient-body: #{$gradient-body};
    --gradient-body-hover: #{$gradient-body-hover};

    --btn-hover-gradient: #{$btn-hover-gradient};
    --btn-secondary-hover-gradient: #{$btn-secondary-hover-gradient};
}

:root[data-theme="light"] {
    @extend %variables-theme;
}

:root[data-theme="dark"] {
    $text-color: #E2E9F0;
    $text-color-secondary: #141213;
    $bg-color: #061237;
    $bg-color-secondary: #1C2F66;
    $bg-btn: #141213;
    $bg-btn-secondary: #5169BA;
    $bg-navbar: #141213;
    $border-logo-color: #E2E9F0;
    $accordion-bg-header: #2C406B;
    $accordion-bg-body: #4E6096;

    $gradient-header: linear-gradient(180deg, #2c406b 60%, #2c406b 80%, #5c70aa 100%);
    $gradient-header-hover: linear-gradient(180deg, #2C406B 25%, #394879b3 75%, #4E6096 100%);
    $gradient-body: linear-gradient(180deg, #5c70aa 50%, #4E6096 85%, #394879b3 100%);
    $gradient-body-hover: linear-gradient(180deg, #4E6096 10%, #4E6096 35%, #394879b3 90%);

    $btn-hover-gradient: linear-gradient(90deg, #0a1948 0%, #061237 30%, #000000 80%);
    $btn-secondary-hover-gradient: linear-gradient(90deg, #2b4696 0%, #041547 55%, #5169BA 70%);

    --text-color: #{$text-color};
    --text-color-secondary: #{$text-color-secondary};
    --bg-color: #{$bg-color};
    --bg-color-secondary: #{$bg-color-secondary};
    --bg-btn: #{$bg-btn};
    --bg-btn-secondary: #{$bg-btn-secondary};
    --bg-navbar: #{$bg-navbar};
    --border-logo-color: #{$border-logo-color};
    --accordion-bg-header: #{$accordion-bg-header};
    --accordion-bg-body: #{$accordion-bg-body};

    --gradient-header: #{$gradient-header};
    --gradient-header-hover: #{$gradient-header-hover};
    --gradient-body: #{$gradient-body};
    --gradient-body-hover: #{$gradient-body-hover};

    --btn-hover-gradient: #{$btn-hover-gradient};
    --btn-secondary-hover-gradient: #{$btn-secondary-hover-gradient};
    @extend %variables-theme;
}

$breakpoints: (
    xsmall: 0px,
    small: 576px,
    medium: 769px,
    large: 992px,
    xlarge: 1200px,
    xxlarge: 1400px,
);