$text-color: #141213;
$text-color-secondary: #E2E9F0;
$bg-color: #E2E9F0;
$bg-color-secondary: #061237;
$bg-btn: #1C2F66;
$bg-btn-secondary: #5169BA;
$bg-navbar: #4E6096;
$border-logo-color: #1C2F66;
$accordion-bg-header: #5169BA;
$accordion-bg-body: #95B5F2;

$color-gradient-top-light: #2c406b;
$color-gradient-middle-light: #394879b3;
$color-gradient-bottom-light: #4b5c8db3;

%variables-theme {
    --text-color: #{$text-color};
    --text-color-secondary: #{$text-color-secondary};
    --bg-color: #{$bg-color};
    --bg-color-secondary: #{$bg-color-secondary};
    --bg-btn: #{$bg-btn};
    --bg-btn-secondary: #{$bg-btn-secondary};
    --bg-navbar: #{$bg-navbar};
    --border-logo-color: #{$border-logo-color};
    --accordion-bg-header: #{$accordion-bg-header};
    --accordion-bg-body: #{$accordion-bg-body};

    --color-gradient-top: #{$color-gradient-top-light};
    --color-gradient-middle: #{$color-gradient-middle-light};
    --color-gradient-bottom: #{$color-gradient-bottom-light};
}

:root[data-theme="light"] {
    @extend %variables-theme;
}

:root[data-theme="dark"] {
    $text-color: #E2E9F0;
    $text-color-secondary: #141213;
    $bg-color: #061237;
    $bg-color-secondary: #1C2F66;
    $bg-btn: #141213;
    $bg-btn-secondary: #5169BA;
    $bg-navbar: #141213;
    $border-logo-color: #E2E9F0;
    $accordion-bg-header: #2C406B;
    $accordion-bg-body: #4E6096;

    $color-gradient-top-dark: #2c406b;
    $color-gradient-middle-dark: #394879b3;
    $color-gradient-bottom-dark: #4b5c8db3;

    --text-color: #{$text-color};
    --text-color-secondary: #{$text-color-secondary};
    --bg-color: #{$bg-color};
    --bg-color-secondary: #{$bg-color-secondary};
    --bg-btn: #{$bg-btn};
    --bg-btn-secondary: #{$bg-btn-secondary};
    --bg-navbar: #{$bg-navbar};
    --border-logo-color: #{$border-logo-color};
    --accordion-bg-header: #{$accordion-bg-header};
    --accordion-bg-body: #{$accordion-bg-body};
    @extend %variables-theme;
}

$breakpoints: (
    xsmall: 0px,
    small: 576px,
    medium: 769px,
    large: 992px,
    xlarge: 1200px,
    xxlarge: 1400px,
);