@use '../at-rule' as *;

.btn {
    cursor: pointer;
    color: white;
    text-align: center;

    &:hover {
        opacity: .9;
    }

    &:active {
        filter: brightness(1.2);
    }
}

.btn__project {
    padding: .7rem 1rem;
    text-align: center;
    border-radius: 2rem;
    border: 2px solid var(--text-color);
    background-color: var(--bg-btn);
    transition: .5s;

    &:hover {
        transform: scale(1.08);
        transition: transform .8s;
        animation: moveBackground 1s linear forwards;
    }

    div {
        @include displayFlex(row, space-around, center);
    }

    &.big {
        align-self: center;
    }

    &.small {
        @include displayFlex(row, space-around, center);
    }
}

.btn__github {
    padding: .9rem 1.5rem;
    border-radius: .3rem;
    background-color: var(--bg-btn-secondary);
    transition: .5s;
    @include displayFlex(row, center, center);
    @include mobileWidth(30vw, 35%, 40%);

    &:hover {
        transform: scale(1.08);
        transition: transform .8s;
        animation: moveBackground-2 1s linear forwards;
    }
}

.btn-carousel {
    position: absolute;
    border: none;
    opacity: .8;
    background: transparent;
    color: #95B5F2;
    font-size: 2.8rem;
    transition: .25s ease-in-out;
    @include displayFlex(row, center, center);

    &:hover {
        cursor: pointer;
        transform: scale(1.3);
    }

    &:focus {
        filter: brightness(1.2);
    }
}

.actions__container {
    width: 100%;
    max-width: 100vw;
    @include displayFlex(row, space-between, center);

    .conect {
        min-width: 50vw;
    }
}