@use '../at-rule/mixin' as *;

.menu__desktop {
    @include displayFlex(row, center, center);
    z-index: 10;

    .menu-desktop--container {
        @include displayFlex(row, center, center);
    }
}

.menu-desktop__item {
    @include desktopWidth(100vw, 25%, 25%);
    @include displayFlex(column, center, center);
    background-color: var(--bg-navbar);
    height: 100%;

    .menu-desktop__link {
        @include displayFlex(column, center, center);
        color: #E2E9F0;
        gap: .3rem;
        opacity: .65;
        transition: 1s ease-in-out;

    }

    .menu-desktop__icon {
        font-size: 1.7rem;
    }

    &.menu-active:has(.menu-desktop__link) .menu-desktop__link {
        opacity: 1;
    }
}