@use '../at-rule/mixin' as *;

@media screen and (pointer: coarse) {

    //buttons.scss
    .btn__project,
    .btn__github {
        animation: none !important;
        transform: none !important;
    }

    //technologies.scss
    .technologies {

        &__carousel:hover &__item,
        &__carousel &__item:focus,
        img {
            transform: none !important;
            animation-play-state: running !important;
        }
    }
}

@include media-break-min-width(xsmall) {

    //buttons.scss
    .btn__project {
        div {
            font-size: .9rem;
        }

        &.big {
            @include mobileWidth(80vw, 60%, 80vw);
        }

        &.small {
            @include mobileWidth(null, 35%, 60%)
        }
    }

    .carousel__control-next.btn-carousel,
    .carousel__control-prev.btn-carousel {
        font-size: 1.8rem;
    }

    .bi-arrow-up-right {
        display: none;
    }

    //logo-container
    .header-container {
        padding: 1rem 1rem 0;
        width: 100vw;
        max-width: 100%;
        // height: 14vh;
        max-height: 18vh;
        @include displayFlex(row, space-between, null);

        .logo-container {
            max-width: 13%;
        }

        .theme-button {
            font-size: 1.8rem;
        }
    }

    //objects.scss
    .content--container {
        padding: 1rem 1.5rem .5rem;
    }

    //about.scss
    .about__text-container {
        @include displayFlex(column, center, center);
    }

    //home.scss
    .first__title {
        font-size: 2.5rem;
    }
}

@include media-break-min-width(small) {

    //buttons.scss
    .btn__project {
        div {
            font-size: 1.4rem;
        }
    }

    .actions__container {
        max-width: 36.25rem;
        align-self: center;

        .btn__github {
            max-width: 13.75rem;
        }
    }

    .btn__project {
        &.big {
            @include mobileWidth(null, 60%, 70%);
        }

        &.small {
            max-width: 20rem;
        }
    }

    .carousel__control-next.btn-carousel,
    .carousel__control-prev.btn-carousel {
        font-size: 2.4rem;
    }

    .bi-arrow-up-right {
        display: inline;
    }

    //logo-container.scss
    .header-container {
        .menu-desktop__text {
            font-size: .8rem;
        }
    }

    //home.scss
    .first__title {
        font-size: 3.5rem;
    }
}

@include media-break-min-width(medium) {

    //buttons 
    .about__actions {
        justify-content: center !important;
        gap: 2rem;

        .btn__project.conect {
            @include desktopWidth(50vw, 20%, 25rem);
        }

        .btn__github {
            @include desktopWidth(50vw, 20%, 20rem);
        }
    }

    //logo-container.scss
    .header-container {
        background-color: var(--bg-navbar);
        padding: .7rem 5rem;
        position: fixed;
        // height: 5rem;
        top: 0;
        z-index: 15;
        @include displayFlex(row, space-between, center);

        .logo-container {
            @include desktopWidth(5rem, 7%, 7%);
        }

        .theme-button {
            font-size: 1.8rem;
        }

        .menu-active {
            border: none;

            &:has(.menu-desktop__text) .menu-desktop__text {
                filter: brightness(3);

            }
        }
    }

    //desktopNavbar.scss
    .menu__desktop {
        .menu-desktop--container {
            @include desktopWidth(45vw, 70%, 27rem);

            .menu__item .menu-desktop__text {
                font-size: 1.1rem;
            }
        }
    }

    .content--container {
        padding: 1rem 5rem;
    }

    //home.scss
    .first__content {
        margin-top: 6.3rem;

        .first__header {
            padding-left: .4rem;
            max-width: 65vw;
        }

        .btn__project.big {
            align-self: flex-start;
        }
    }

    //projects.scss
    .second__content.content--container {
        .project-1 {
            .carousel__container {
                @include desktopWidth(100vw, 100%, 100%);

                .carousel__body {
                    @include desktopWidth(100vw, 100%, 100%);
                }

            }
        }
    }

    //.contact.scss
    .contact__main {
        .btn.btn__project.big {
            font-size: 1.3rem;
            font-weight: 300;
        }
    }
}

@include media-break-min-width(large) {

    //buttons.scss
    .project__actions {
        gap: 2rem
    }

    .btn__project {
        &.big {
            @include mobileWidth(70vw, 40%, 26rem);
        }

        &.small {
            @include mobileWidth(50vw, 30%, 15rem);
        }
    }

    //logo-container.scss
    .header-container {
        justify-content: space-around;

        .logo-container {
            @include desktopWidth(3rem, 3rem, 3rem);
        }
    }

    //object.scss
    .content--container {
        padding: 1rem 5.5rem .5rem;
    }

    //projects.scss
    .second__content {
        .project__container {
            display: grid;
            grid-template-areas: "area1 area2";
            grid-template-rows: 1fr;
            gap: 1rem;

            .carousel__container {
                @include desktopWidth(100vw, 100%, 100%);

                .carousel__body {
                    @include desktopWidth(100vw, 100%, 100%);
                }
            }
        }

        .project-1,
        .project-3 {
            grid-template-columns: 60% 40%;

            .carousel__container {
                grid-area: area1;
            }

            .project__content {
                grid-area: area2;
                gap: .8rem;
                @include displayFlex(column, center, center)
            }

            .project__content-text {
                max-height: 30%;
                overflow: auto;
            }
        }

        .project-2 {
            grid-template-columns: 40% 60%;

            .carousel__container {
                grid-area: area2;
            }

            .project__content {
                grid-area: area1;
                gap: .8rem;
                @include displayFlex(column, center, center)
            }

            .project__content-text {
                max-height: 30%;
                overflow: auto;
            }
        }
    }

    //about.scss
    .third__content {
        @include displayFlex(column, center, center);

        .third__content-container1 {
            max-width: 100%;
            display: grid;
            grid-template-columns: 35% 60%;
            grid-template-rows: 15% 75% 10%;
            grid-template-areas:
                "top1 top2"
                "middle1 middle2"
                "bottom1 bottom2";

            .about__title {
                align-self: center;
                font-weight: 200;
                font-size: 3rem;
                grid-area: top2;
            }

            .photo__container {
                margin-top: 6rem;
                place-self: flex-start;
                grid-area: top1, ;
                grid-row: span 3;
            }

            .about__text-container {
                text-align: left;
                font-size: 1rem;
                grid-area: middle2;
            }

            .about__actions {
                grid-area: bottom2;
            }

        }
    }

    .about__text-container {

        p.about__text.text1,
        p.about__text.text2 {
            word-spacing: .3rem;
        }
    }

    .third__content-container2 {
        max-width: 100%;

        display: grid;
        grid-template-columns: 40% 60%;
        grid-template-rows: 50% 50%;
        grid-template-areas:
            "top1 top2"
            "bottom1 bottom2";

        .about__formation {
            grid-area: top1;
        }

        .about__experience {
            padding-top: 12rem;
            grid-area: top1;
        }

        .accordion {
            max-height: 100%;
            place-self: flex-start;
            grid-area: top2;
            grid-row: span 2;
            @include desktopWidth(50vw, 50%, 45rem);

            .about__title {
                font-weight: 200;
                align-self: flex-start;
            }

            // .accordion__body{
            //     padding-top: 18rem;
            //     max-height: 15rem;
            //     overflow: auto;
            // }
        }
    }


    .fourth__content.content--container {
        padding-top: 10rem;

    }

    footer {
        padding: 3rem 11rem 20vh !important;
    }
}

@include media-break-min-width(xlarge) {

     //object.scss
    .content--container {
        padding: 1rem 8.5rem .5rem;
    }

    //home.scss
    .first__content.content--container {
        margin-top: 10rem;

        .first__header {
            max-width: 45vw;
        }
    }

    //technologies.scss
    .technologies__container {
        div.technologies__carousel {
            gap: 10rem;
        }
    }
}

@include media-break-min-width(xxlarge) {

    //buttons.scss
    div.project__actions.actions__container {
        align-self: flex-start;
        @include desktopWidth(50vw, 50%, 30rem);
    }

    a.btn.btn__project.big {
        @include desktopWidth(50vw, 20rem, 30rem);
    }

    //logo-container.scss
    .header-container {
        padding: .7rem 15rem;
    }

     //object.scss
    .content--container {
        padding: 1rem 11.5rem .5rem;
    }

    //home.scss
    .first__body video.first__video {
        @include desktopWidth(80vw, 76rem, 80rem);
    }

    //about.scss
    .third__content .third__content-container1 div.photo__container {
        justify-self: center;
    }

    .third__content-container2 {
        justify-content: center;
        @include desktopWidth(100vw, 100%, 100%);
    }
}