@use '../abstracts/variables' as *;
@use 'sass:map';

@mixin displayFlex($direction: null, $justify: null, $align: null) {
    display: flex;
    flex-direction: #{$direction};
    justify-content: #{$justify};
    align-items: #{$align};
}

@mixin mobileWidth($width: 100vw, $min: 90%, $max: 100%) {
    width: #{$width};
    min-width: #{$min};
    max-width: #{$max};
}

@mixin desktopWidth($width: 100vw, $min: 90%, $max: 100%) {
    width: #{$width};
    min-width: #{$min};
    max-width: #{$max};
}

@mixin media-break-min-width($breakpoints: null) {
    $width: map.get($width-breakpoints, $breakpoints);

    @media screen and (min-width: $width) {
        @content
    }
}

@mixin media-break-max-width($breakpoints: null) {
    $width: map.get($width-breakpoints, $breakpoints, );

    @media screen and (max-width: $width) {
        @content
    }
}

@mixin media-break-min-height($breakpoints: null) {
    $height: map.get($height-breakpoints, $breakpoints);

    @media screen and (min-height: $height) {
        @content
    }
}

@mixin media-break-max-height($breakpoints: null) {
    $height: map.get($height-breakpoints, $breakpoints);

    @media screen and (max-height: $height) {
        @content
    }
}