@use '../at-rule/mixin' as *;
@use '../at-rule/keyframes' as *;


.third__content {
    @include displayFlex(column, null, null);
    gap: 7rem;
}

.third__content-container1 {
    @include displayFlex(column);
    gap: 2rem;

    .photo__container {
        @include displayFlex(row, center, center);

        .about__photo {
            max-width: 50vw;
            aspect-ratio: 1/1;

            img {
                border-radius: 2rem;
                width: 100%;
            }
        }
    }
}

.about__text-container {
    gap: 1rem;
    
    .about__text.text1 {
        word-spacing: .5rem;
        line-height: 1.4rem;
        align-self: flex-end;

    }

    .about__text.text2 {
        word-spacing: .6rem;
        align-self: flex-end;
    }

    .about__language {
        width: 100%;
    }
}

.third__content-container2 {

    .about__formation {
        padding-left: .5rem;


        .flex-container {
            padding-left: .5rem;
        }
    }

    .about__experience {
        @extend .about__formation;

        .experience__paragraph {
            text-align: left;
        }
    }
}



.accordion {
    @include mobileWidth(90%, 90vw, 20rem);
    @include displayFlex(column, center, center);
    padding: 1rem;
    place-self: center;

    h3 {
        padding-bottom: 1rem;
    }

    &__container {
        @include displayFlex(column, center, center);
        @include mobileWidth(100%, 100%, 100%);
        overflow: hidden;
    }

    &__header {
        border: top 2px solid var(--accordion-bg-body) right 2px solid red bottom 2px solid red left 2px solid red;
        padding: .8rem 1.1rem .8rem;
        position: relative;
        background-color: var(--accordion-bg-header);
        @include displayFlex(row, space-between, center);
        @include mobileWidth(100%, 100%, 100%);


        &:hover {
            cursor: pointer;
        }

        .accordion__title {
            position: relative;
            transition: .7s ease-in-out;

            &:hover {
                text-shadow: .35rem .30rem .28rem var(--text-color-secondary);
                left: .5rem;
            }
        }

        .icon {
            transition: .2s linear;
        }
    }

    &__body {
        background-color: var(--accordion-bg-body);
        display: none;
        gap: 1rem;
        padding: .8rem;
        flex-direction: column;
        justify-content: center;
        @include mobileWidth(100%, 100%, 100%);
        animation: spawn-top .25s ease 1 forwards;

        .accordion__text {
            color: var(--text-color-secondary);
        }

        .title {
            font-weight: 600;
        }

        .subtitle {
            font-weight: 500;
            text-indent: 2rem
        }
    }

    &__paragraph {
        @include displayFlex(column, null, null);
        gap: .8rem;
        animation: spawn-right 1.5s ease-in-out 1 forwards;
    }
}

.skills {
    &__list {
        padding-left: 2rem;
        animation: spawn-right 1.5s ease-in-out 1 forwards;
    }

    &__item {
        padding-bottom: .5rem;
        color: var(--text-color);
    }

    &__item::marker {
        content: "•  ";
        animation: spawn-right 1.5s ease-in-out 1 forwards;
    }
}

.active {
    .accordion__header {
        padding: 1.4rem 1.1rem;
        justify-content: center;
        background: var(--gradient-header);

        &:hover {
            background: var(--gradient-header-hover);
        }
    }

    &:has(.accordion__header:hover) .accordion__body {
        background: var(--gradient-body-hover);
    }

    &:has(.accordion__body) .accordion__body {
        
        display: flex;
        background: var(--gradient-body);
    }

    &:has(.icon) .icon {
        transform: rotate(-180deg);
        position: absolute;
        right: 3%;
    }

    &:has(.icon) .accordion__title {
        transform: translateX(-10%);
    }
}